.card {
    .youtubePlayer{
        max-width: 100%;
    }
    .card-body {
        box-shadow: 0 0 20px darken($page-background, 10%);
        a {
            text-decoration: none;
            color: $link-color;
            .card-title {
                font-weight: 700;
            }
            &:hover {
                color: $green !important;
            }
        }
        .card-text {
            color: lighten($link-color, 50%);
            overflow: hidden;
            margin-bottom: 20px;
            font-size: 0.9rem;
        }
        .btn {
            color: $menu-item-color;
        }
        iframe {
            max-width: 100%;
        }
    }
}