// Global classes are defined here
@import 'colors.scss';
// views
@import 'campaignVideosView.scss';
@import 'newCampaignVideos.scss';
// components
@import 'mainMenu.scss';
@import 'goBackButton.scss';
// overrides
@import 'card.scss';
html,
body {
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: $page-background;
}

.page-layout {
    padding: 130px 20px 50px 20px;
    &.reduced-padding {
        padding-top: 50px;
    }
    &.extended-padding {
        padding-top: 80px + 50px;
    }
}

a,
button {
    cursor: pointer;
}

.containerSlick {
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    color: #333;

    .imgBox{
        width: 100%;
        padding: 5px;
    }

    .slick-next::before{
        color:black;
    }

    .slick-prev::before{
        color:black;
    }

    * {
        min-height: 0;
        min-width: 0;
      }
  }